{% load static %}
<html>
<head>
  <style>

  #p1 {background-color:#ff6699;}
  #p2 {background-color:#99ff66;}
  #p3 {background-color:#33ccff;}
  {background-color:#FFF8DC;
  padding: 100px;
  }
  </style>
<title>Autorzy</title>
</head>
<body>
  <div>
    <center><p id="p1">AUTORZY</p></center>
    <center><p id="p2">Olga Szczepankiewicz</p></center>
    <center><p id="p3">Weronika Plank</p></center>

  <li><a href='{% url 'post_list' %}'><font face="Times New Roman">Powrót do strony głównej</font></a></li>
</div>
</body>
</html>
