{% load static %}
<html>
<head>
  <style>

  #p1 {background-color:#ff6699;}
  #p2 {background-color:#99ff66;}
  #p3 {background-color:#33ccff;}
      div {background-image:url(https://static4.depositphotos.com/1000304/277/v/950/depositphotos_2778674-stock-illustration-pastel-watercolor-background.jpg);
        min-height:400px;
        padding:3em;
        font-size:1.3em; }
  </style>
<title>Autorzy</title>
</head>
<body>
  <div>
    <center><p id="p1">AUTORZY</p></center>
    <center><p id="p2">Olga Szczepankiewicz</p></center>
    <center><p id="p3">Weronika Plank</p></center>
</div>
  <li><a href='{% url 'post_list' %}'><font face="Times New Roman">Powrót do strony głównej</font></a></li>
</body>
</html>
