{% load static %}
<html>
<head>
       <title>
       Nauka programowania</title>
   </head>

<body>
<style>
{background-color: coral;
}

</style>

  <div>
    <ul>
    <li><a href='https://kodologia.pl/kursy/jezyk-sql-wyszukiwanie-danych'> Język SQL</a></li>
    <br>
    <li><a href='https://kodologia.pl/kursy/python-podstawy-programowania'> Python</a></li>
    <br>
    <li><a href='https://kodologia.pl/kursy/python-programowanie-obiektowe'> Python 2</a></li>
    <br>
    <li><a href='https://kodologia.pl/kursy/naucz-sie-css'> CSS</a></li>
    </ul>
</div>


    <li><a href='{% url 'post_list' %}'><font face="Times New Roman">Powrót do strony głównej</font></a></li>
</div>
  <p><a href='{% url 'autorzy' %}'><font face="Times New Roman">Autorzy</p></font>

</body>
