{% load static %}
<html>
<head>
<style>
  div {background-image:url(https://cdn3.greatfon.com/uploads/picture/546/13546/thumbs_binarnyy-kod-it.jpg);
        min-height:100px;
        padding:3em;

        font-size:1.3em;

  }
p {
  font-size: 50px;
}

</style>
       <title>Nauka programowania</title>
       <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
       <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
       <link href="//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext" rel="stylesheet" type="text/css">
       <link rel="stylesheet" href="{% static 'css/blog.css' %}">
</head>
<body background="https://znp.edu.pl/assets/uploads/2019/01/CZarne-t%C5%82o.jpg" >



  <center><img src="https://cdn.bulldogjob.com/system/readables/covers/000/001/832/large_thumb/czy_programowanie_jest_trudne3.png" width="500" height="150" alt=""></center>
  <center><p><a><font face="Courier New">Naucz się programować</a></p></font></center>
  <center><h2><font face="Courier New" color="white">Aplikacja do nauki programowania</h2></font></center>


</div>

<div>
  <br>
  <center><p><font face="Courier New"><a href='{% url 'inna' %}'>Zaczynamy!</a></p></font></li></center></h1>
  <br>
</div>

</body>
</html>
